* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main, 
footer {
  width: 100%;
  margin: auto;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px 20 20 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  background-color: black;
  color: rgb(66, 218, 154);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  flex: 0 0 150;
}

nav a {
  padding: 15px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(66, 218, 154);
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: rgb(66, 218, 154);
  cursor: pointer;
  margin: 0 15px;
  border-radius: 12px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

#aboutme {
  display: inline-block;
  background-color: #ffffff;
  margin: 25px;
  padding: 20px;
}

#work {
  display: inline-block;
  background-color: #ffffff;
  margin: 25px;
  padding: 20px;
}

#contactme {
  display: inline-block;
  background-color: #ffffff;
  margin: 25px;
  padding: 20px;
}


    